services:
  droid-dev-gui:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: droid-policy:latest
    container_name: droid-dev-gui
    restart: unless-stopped
    tty: true
    stdin_open: true

    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - PYTHONUNBUFFERED=1

    volumes:
      - ..:/workspace/droid_policy_learning
      - /home/yjin/localdisk/droid/:/workspace/datasets/droid:ro
      - /home/yjin/localdisk/robocasa/:/workspace/datasets/robocasa:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOME}/.Xauthority:/root/.Xauthority:rw
      - ${HOME}/.cache/huggingface:/root/.cache/huggingface

    network_mode: host
    ipc: host
    pid: host

    command: tail -f /dev/null

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, utility]

    ulimits:
      nofile: { soft: 65536, hard: 65536 }
      nproc: 65536
      memlock: -1
      stack: 67108864
